{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<style>
    .vh-center {
        min-height: 100vh; 
        display: flex;
        align-items: center; 
        justify-content: center; 
        background-color: rgba(0, 0, 0, 0.5); 
    }

    .content-box {
        text-align: center;
        padding: 20px;
        background-color: rgba(0, 0, 0, 0.8); 
        border-radius: 15px; 
    }
</style>
<div class="vh-center">
    <div class="content-box">
        <h1 class="text-white">You have subscribed to our newsletter.</h1>
        <p class="text-white">Please check your inbox for our email.</p>
    </div>
</div>
{% endblock %}