html {
    height: 100%;
}

body {
    background: url('/media/home-background.webp') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Montserrat';
}

.text-small {
    font-size: 0.75rem;
}


#topnav {
    background-color: black;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
    font-family: 'Montserrat';
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #dc3545;
    color: white;
}

.border-black {
    border: 1px solid black !important;
}

/* Creates a hamburger menu ontop of original to my style */

.navbar-toggler-icon {
    background-image: none; /* Remove default background-image */
}

.navbar-toggler-icon::before,
.navbar-toggler-icon::after,
.navbar-toggler-icon > div {
    content: ''; /* This creates the bars */
    display: block;
    width: 22px; /* Width of the bar */
    height: 2px; /* Height of the bar */
    background-color: #dc3545; 
    margin: 4px 0; /* Spacing between the bars */
}

.dropdown-menu {
    background-color: black;
}

.nav-item {
    background-color: black;
    margin-left: 10px;
}

.navbar {
    background-color: black;
}

/* offers banner */
.w-90 {
    width: 90%;
}

.bg-orange {
    background-color: #dc3545;
}

.banner-text {
    font-size: 14px;
    color: #e6983c;
    padding: 4px 10px 4px 10px;
}

/* homepage call to action */
#home-cta {
    margin-top: 240px;
}

#cta-text {
    font-size: 20px;
}

.bg-see-through {
    background-color: rgba(39, 43, 43, 0.5);
}

/* overlay for use on every page where required */
.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: black;
    z-index: -1;
}

.hr-danger {
    border-color: #dc3545;
}

/* for image sizes on product page */
.fixed-height { 
    height: 550px;  
    object-fit: cover; 
}

.margin-top
        {
            margin-top: 240px;
        }

.alert {
    background-color: white;
}
/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }

    .navbar {
        background-color: black;
    }

    .banner-text {
        font-size: 20px;
        color: #e6983c;
        padding: 4px 10px 4px 10px;
    }

    #home-cta {
        margin-top: 100px;
    }

    #cta-text {
        font-size: 60px;
    }

    .margin-top
        {
            margin-top: 0px;
        }
}

@media (min-width: 768px) {
    #home-cta {
        margin-top: 200px;
    }
}

@media (min-width: 574px) {
    #home-cta {
        margin-top: 200px;
    }
}