{% load static %}

<!doctype html>
<html lang="en">
  <head>

    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;1,400;1,600&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
        <script src="https://kit.fontawesome.com/fae4e24a2e.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script src="https://js.stripe.com/v3"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Shopaholic {% block extra_title %}{% endblock %}</title>
  </head>
  <body>
    <header class=" fixed-top">
      <div id="topnav" class="row pt-lg-2 d-none d-lg-flex">
          <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-center text-lg-left">
              <a href="{% url 'home' %}" class="nav-link main-logo-link">
                  <h2 class="logo-font text-danger my-0">Shopaholic <span><i class="fa-solid fa-champagne-glasses"></i></span></h2>
              </a>
          </div>
          <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
            <form method="GET" action="{% url 'products' %}" id="searchForm">
                <div class="input-group w-100">
                    <input class="form-control rounded-2" type="text" name="q" id="searchInput" placeholder="Search for drinks">
                    <div class="input-group-append">
                        <button class="form-control btn btn-danger rounded-2" type="submit">
                            <span class="icon">
                                <i class="fas fa-search"></i>
                            </span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
          <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
              <ul class="list-inline list-unstyled text-center text-lg-right my-0">
                  <li class="list-inline-item dropdown">
                      <a class="text-danger nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <div class="text-center">
                              <div><i class="fas fa-user fa-lg"></i></div>
                              <p class="my-0">My Account</p>
                          </div>
                      </a>
                      <div class="dropdown-menu border-0" aria-labelledby="user-options">
                          {% if request.user.is_authenticated %}
                              {% if request.user.is_superuser %}
                                  <a href="{% url 'add_product' %}" class="dropdown-item text-danger">Product Management</a>
                              {% endif %}
                              <a href="{% url 'profile' %}" class="dropdown-item text-danger">My Profile</a>
                              <a href="{% url 'account_logout' %}" class="dropdown-item text-danger">Logout</a>
                          {% else %}
                              <a href="{% url 'account_signup' %}" class="dropdown-item text-danger">Register</a>
                              <a href="{% url 'account_login' %}" class="dropdown-item text-danger">Login</a>
                          {% endif %}
                      </div>
                  </li>
                  <li class="list-inline-item">
                      <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link" href="{% url 'view_bag' %}">
                          <div class="text-center">
                              <div><i class="fas fa-shopping-bag fa-lg text-danger"></i></div>
                              <p class="my-0 text-danger">
                                  {% if grand_total %}
                                      £{{ grand_total|floatformat:2 }}
                                  {% else %}
                                      £0.00
                                  {% endif %}
                              </p>
                          </div>
                      </a>
                  </li>
              </ul>
          </div>
          <div class="col-12 col-lg-4 my-auto py-1 py-lg-0"></div>
      </div>
      <div class="row">
        <nav class="navbar navbar-expand-lg navbar-light w-100">
            <button class="navbar-toggler text-danger" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">
                </span>
            </button>
                {% include 'includes/mobile-top-header.html' %}
                {% include 'includes/main-nav.html' %}
        </nav>
    </div>
    <div class="row justify-content-center">
        <div id="delivery-banner" class="text-center w-90 mx-auto text-danger font-weight-bold">
            <h4 class="logo-font d-sm-none border border-danger rounded-lg bg-orange banner-text">Spend over £{{ free_delivery_threshold }} and get free delivery</h4>
            <h4 class="logo-font d-none d-sm-block border border-danger rounded-lg bg-orange font-weight-bold banner-text">Spend over £{{ free_delivery_threshold }} and get free delivery</h4>                
        </div>
    </div>
    
    
  </header>

  {% if messages %}
        <div class="message-container">
            {% for message in messages %}
                {% with message.level as level %}
                    {% if level == 40 %}
                        {% include 'includes/toasts/toast_error.html' %}
                    {% elif level == 30 %}
                        {% include 'includes/toasts/toast_warning.html' %}
                    {% elif level == 25 %}
                        {% include 'includes/toasts/toast_success.html' %}
                    {% else %}
                        {% include 'includes/toasts/toast_info.html' %}
                    {% endif %}
                {% endwith %}
            {% endfor %}
        </div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block postloadjs %}
    <script type="text/javascript">
        $('.toast').toast('show');

    var searchInput = document.getElementById("searchInput");
    var defaultPlaceholder = searchInput.placeholder;

    document.getElementById("searchForm").addEventListener("submit", function(event) {        
        if (searchInput.value.trim() === "") {
            event.preventDefault(); // This will prevent the form submission
            searchInput.placeholder = "Please enter a search term !";
            searchInput.classList.add("is-invalid"); // Add red warning circle
            searchInput.value = ""; // Clears any spaces or other content
        }
    });

    // This code restores the original placeholder when the user starts typing
    searchInput.addEventListener("input", function() {
        if (searchInput.classList.contains("is-invalid")) {
            searchInput.placeholder = defaultPlaceholder;
            searchInput.classList.remove("is-invalid");
        }
    });
    </script>
    {% endblock %}

  </body>
</html>