{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="logo-font margin-top">Products</h2>
                <hr class="w-50 mb-1 hr-danger">
            </div>
        </div>
        {% if messages %}
        <div class="container mt-3">
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }} fade show" role="alert">
                {{ message }}
            </div>
            {% endfor %}
        </div>
        {% endif %}
        <div class="row">
            <div class="product-container col-10 offset-1">
                <div class="row mt-1 mb-2"></div>
                <div class="row">
                    {% for product in products %}
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                            <div class="card h-100 border-0">
                                {% if product.image %}
                                <a href="{% url 'product_detail' product.id %}" class="image-wrapper overflow-hidden">
                                    {% if product.image %}
                                        <img class="card-img-top img-fluid d-block fixed-height" src="{{ product.image.url }}" alt="{{ product.name }}">
                                    {% else %}
                                        <img class="card-img-top img-fluid d-block fixed-height" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                                    {% endif %}
                                    {% if product.new_arrival %}
                                        <span class="offer-label font-weight-bold">New Arrival !</span>
                                    {% endif %}
                                    {% if product.deal %}
                                        <span class="offer-label-d font-weight-bold">What a Deal !</span>
                                    {% endif %}
                                    {% if product.clearance %}
                                        <span class="offer-label-c font-weight-bold">Clearance !</span>
                                    {% endif %}
                                </a>
                                {% else %}
                                <a href="{% url 'product_detail' product.id %}" class="overflow-hidden">
                                    <img class="card-img-top img-fluid d-block fixed-height" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                                </a>
                                {% endif %}
                                <div class="card-body pb-0">
                                    <p class="mb-0 font-weight-bold">{{ product.name }}</p>
                                   
                                    <p class="mb-0"><strong>Origin: </strong>{{ product.country_of_origin }}</p>
                                {% if product.rating %}
                                                <small class="text-muted font-weight-bold"><i class="fas fa-star mr-1 text-danger"></i><strong>Rating: </strong>{{ product.rating }} / 5</small>
                                            {% else %}
                                                <small class="text-muted">No Rating</small>
                                            {% endif %}
                                        </div>
                                <div class="card-body pb-0">
                                    <p class="mb-0"><strong>Type: </strong>{{ product.category }}</p>
                                    <p class="mb-0"><strong>Description: </strong>{{ product.description }}</p>
                                    <p class="mb-0"><strong>Taste Notes: </strong>{{ product.taste_notes }}</p>
                                    <p class="mb-0"><strong>Alcohol Content: </strong>{{ product.alcohol_content }}%</p>
                                    <p class="mb-0"><strong>Volume: </strong>{{ product.volume }} mls</p>
                                </div>
                                <div class="card-footer bg-white pt-0 border-0 text-left">
                                    <div class="row">
                                        <div class="col">
                                            
                                            <p class="lead mb-0 text-left font-weight-bold">Price: £{{ product.price }} <span class="font-weight-light text-small">(per bottle/can)</span></p>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if forloop.counter|divisibleby:1 %}
                            <div class="col-12 d-sm-none mb-5 text-danger">
                                <hr class="hr-danger">
                            </div>
                        {% endif %}                        
                        {% if forloop.counter|divisibleby:2 %}
                            <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                                <hr class="hr-danger">
                            </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:3 %}
                            <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                                <hr class="hr-danger">
                            </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:4 %}
                            <div class="col-12 d-none d-xl-block mb-5">
                                <hr class="hr-danger">
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}